{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"

  ],
  "rules": {
      "react/prop-types": "off",
      "react/react-in-jsx-scope": "off"
    }
}

{
  "plugins": [
    "react"
  ],
  "extends": ["eslint:all", "plugin:react/all"]
}

{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}